:root {
	--color-primary: rgb(102, 114, 248);
}

body,
html {
	padding: 0;
	margin: 0;
	font-size: 1em;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/**========================================================================
 *                           Main Header
 *========================================================================**/

.main-header {
	height: 5em;
	width: 100%;
	right: 0;
	display: inline-block;
	background: rgb(229, 229, 229);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	transition: all 0.2s;
}

/**========================================================================
 *                           Logo
 *========================================================================**/

.logo {
	height: 5em;
	width: 18em;
}

.logo img {
	height: 100%;
	width: 100%;
}

/**========================================================================
 *                           Hamburger
 *========================================================================**/

.hamburger {
	height: 40px;
	min-width: 40px;
	margin-left: 1em;
	cursor: pointer;
	padding: 0 8px;
	box-sizing: border-box;
}

.hamburger div:first-child {
	margin-top: 12px;
}

.hamburger div {
	height: 2px;
	width: 100%;
	background: grey;
	margin: 5px 0;
}

/**========================================================================
 *                           Profile
 *========================================================================**/

.profile {
	width: 100%;
	padding-block: 1em;
}

.profile a {
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	margin: 0 2em;
	box-sizing: border-box;
	font-weight: 600;
}

.profile a:hover {
	color: var(--color-primary);
	text-decoration: underline;
}

.profile a img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

/**========================================================================
 *                           Side Navigation Container
 *========================================================================**/

.side-navigation-container {
	display: inline-block;
	z-index: 1;
	min-width: 18em;
	bottom: 0;
	height: 100%;
	background: rgb(229, 229, 229);
	transition: all 0.2s;
}

.side-navigation-container.closed {
	width: 0em;
	min-width: unset;
	overflow: hidden;
}

/**========================================================================
 *                           Side Navigation
 *========================================================================**/

.side-navigation a span img {
	height: 15px;
	width: 15px;
	margin-top: 6px;
	transition: all 0.15s;
}

/**========================================================================
 *                           Side Navigation List
 *========================================================================**/

.side-navigation-list {
	padding: 20px 3em;
	padding-top: 0;
	box-sizing: border-box;
}

.side-navigation-list li a {
	font-size: 0.8em;
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	padding: 8px 0;
	letter-spacing: 1px;
	font-weight: 500;
}

.side-navigation-list li:hover > .submenu {
	height: 4em;
}

.side-navigation-list li:hover > a {
	color: var(--color-primary);
}

.side-navigation-list li:hover > a span:nth-child(2) img {
	rotate: 90deg;
}

.side-navigation-list li:hover > a span {
	filter: invert(39%) sepia(77%) saturate(1079%) hue-rotate(212deg)
		brightness(98%) contrast(98%);
}

.side-navigation-list li a span:nth-child(1) {
	margin-right: 5px;
}

.side-navigation-list li a span:nth-child(2) {
	margin-left: auto;
}

/**========================================================================
 *                           Submenu
 *========================================================================**/

.submenu {
	height: 0;
	overflow: hidden;
	transition: all 0.2s;
}

.submenu li {
	padding-left: 1.5em;
}

/**========================================================================
 *                           Content Section
 *========================================================================**/

.content-section {
	height: 100%;
	width: 100%;
	padding-inline: 1.5em;
	box-sizing: border-box;
}

.content-section table {
	margin: 3em auto 0;
	border: 1px solid black;
}

.content-section table tr {
}

/**========================================================================
 *                           Main Section
 *========================================================================**/

.main-section {
	height: calc(100% - 5em);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

/**========================================================================
 *                           Button
 *========================================================================**/

.btn {
	appearance: none;
	border: none;
	background: green;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(228, 228, 228);
	margin: 10px;
	font-size: 1em;
	width: 24px;
	outline: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
}

@media screen and (max-width: 400px) {
	.side-navigation-container {
		position: absolute;
		width: 100%;
		min-width: unset;
	}

	.main-header .logo {
		width: 10em;
		height: 3em;
	}

	.main-header .hamburger {
		margin-left: auto;
		margin-right: 10px;
	}
}
